@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/161885.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wd {
    max-width: 1200px;
    margin: 0 auto;
}


section.initial-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.content {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.content h1 {
    font-family: "Bungee Outline", sans-serif;
    font-weight: lighter;
    font-size: 9em;
}

div.content h2 {
    font-weight: lighter;
    font-size: 2.5em;
}

div.content p {
    margin: 20px 0;
    font-weight: lighter;
    font-size: 1.5em;
    color: rgb(179, 179, 179);
}

section.bg-color {
    background-color: #f7f7f7;
}

div.what-is {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 50px;
    justify-content: space-evenly;
}

div.what-is img {
    width: 40%;
}

div.what-is-txt {
    max-width: 550px;
}

div.what-is-txt h3 {
    color: #2e5d33;
    font-size: 3.5em;
}

div.what-is-txt p {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 300;
}

section.why-is-important {
    padding: 50px;
}

section.why-is-important h4 {
    color: #2e5d33;
    font-size: 3em;
    text-align: center;
}

div.cards-container {
    display: flex;
    gap: 20px;
    padding: 50px;
}

div.card {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-size: 1em;
    justify-content: space-evenly;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(58, 58, 58, 0.07), 0 6px 20px 0 rgba(58, 58, 58, 0.07);
}

span.card-title {
    color: #2e5d33;
    font-weight: 500;
    font-size: 1.2em;
}

div.card img {
    width: 60%;
}

div.materias-reciclaveis {
    padding: 50px;

}

div.materias-reciclaveis h5{
    color: #2e5d33;
    font-size: 3em;
    text-align: center;
}

div.materiais-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

div.materiais-cards {
    display: flex;
    align-items: center;
    min-width: 800px;
    background-color: #e3f2fd;
    padding: 20px;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(169, 169, 169, 0.055), 0 6px 20px 0 rgba(148, 148, 148, 0.027);
    border: 0.5px solid rgba(123, 123, 123, 0.07);
}

div.materiais-cards:nth-child(even) {
    flex-direction: row-reverse;
}

div.materiais-cards:nth-child(2){
    background-color: #fdecea;
}

div.materiais-cards:nth-child(3){
    background-color: #e8f5e9;
}

div.materiais-cards:nth-child(4){
    background-color: #fff8e1;
}

div.materiais-cards img{
    width: 15%;
}

div.materiais-txt {
    text-align: center;
    max-width: 400px;

}

div.materiais-txt span{
    font-size: 2em;
    font-weight: bold;
}

div.materiais-txt p{
    margin-top: 10px;
}